<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="{{path_to_reference}}favicon.png">
    <link rel="stylesheet" href="{{path_to_root}}css/variables.css">
    <link rel="stylesheet" href="{{path_to_root}}css/general.css">
    <link rel="stylesheet" href="{{path_to_root}}css/chrome.css">
    <link rel="stylesheet" href="{{path_to_root}}fonts/fonts.css">
</head>
<body>
    <header>
        <div class="top-bar" style="{{top_bar_background}}">
            {{{top_bar_items}}}
        </div>

        <!-- current section path + previous/next buttons + company logo -->
        {{{header_controls}}}
    </header>
    <main>
        <div class="content-container">
            <div class="content">
                {{{content}}}
            </div>
        </div>
    </main>
    <footer>
        <!-- current section path + previous/next buttons -->
        {{{footer_controls}}}
    </footer>
    <script src="{{path_to_root}}toc.js"></script>
</body>
</html>